* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: white;
    width: 100vw;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MAYBE
.top {
    width: 100vw;
    background-color: ;
    height: 60px;
    border-bottom: 0px solid #447294;
    box-shadow: 0 1px 10px 1px #dedede;
}
*/

header {
    display: flex;
    width: 100vw;
}

/*first line (New of) of heading*/
.heading > h1 { 
    font-family: 'Old Standard TT';
    font-size: 20px;
    margin: 20px 0px -10px 20px; 
}

/*second line (Silicon Valley) of heading*/
.heading > h1:nth-child(2) {
    font-family: 'Arial Black';
    text-transform: uppercase;
    font-weight: 100;
    font-size: 30px;
    margin: 0px 0px 10px 10px; 
    overflow: hidden;
}


nav { /*only visible on laptops/large screens*/
    width: 70vw;
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

nav a {
    font-family: 'Roboto';
    color: #F4D6BC;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #F8E4CC;
    border-radius: 5px;
    padding: 10px 30px;
}

nav a:hover {
    box-shadow: inset 0px 0px 1px 1px #F4D6BC;
}

/*contains all articles*/
section {
    display: flex;
    flex-wrap: wrap; /*so that the articles end up in two rows*/
    justify-content: space-evenly; /*gives space in between the articles*/
}

h2, h4 {
    font-family: 'Old Standard TT';
    color: rgb(0, 0, 0);
}

h4 {
    font-weight: lighter;
    margin-top: 5px;
}

h6 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #294052;
    font-size: 12px;
}

p {
    font-family: 'Roboto';
    font-size: 14px;
    color: rgb(108, 108, 108);
}

article {
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.articleImage {
    width: 40vw;
    height: auto;
    display: block;
    object-fit: cover;
}

.bottomRight {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.heart {
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.liking {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
}

.bottomInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F8E4CC;
    border-top: 1px solid #F8E4CC;
    margin-top: 1em;
    padding: 10px 10px;
}

/*large screens*/
@media screen and (min-width: 850px) { 

    body {
        padding: 0px 60px;
    }

    header {
        margin-left: 16vw;
    }

    .hamburgerMenu {
        display: none;
    }

    .heading > h1:nth-child(2) {
        font-size: 42px;
    }

    article {
        background-color: white;
        width: 40vw;
        margin: 20px 0px;
        box-shadow: 0 5px 20px -1px rgb(230, 230, 230);
    } 

    h2 {
        margin: 10px;
    }

    .text {
        margin: 0px 10px;
    }

    .bottomInfo {
        border-bottom: 0px solid #F8E4CC;
    }

}
/*tablets*/
@media screen and (min-width: 600px) and (max-width: 850px) { 

    header {
        display: flex;
        justify-content: space-between;
    }

    .hamburgerMenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-end;
    }

    .hamburgerMenu > span {
        width: 33px;
        height: 3px;
        background-color: black;
        margin: 2px 20px 5px 0px; /*top right bottom left*/
    }

    nav {
        display: none; /*hides the nav on tablets*/
    }

    .heading > h1:nth-child(2) {
        font-size: 36px;
    }

    article {
        border-top: 2px solid #447294;
        padding: 10px;
        margin-bottom: 10px;
    }

    .main {
        display: flex; 
    }

    .articleImage {
        display: block;
        max-width: 40%;
        max-height: 250px;
        margin-right: 20px;
        object-fit: cover;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

}

/*smartphones*/
@media screen and (max-width: 600px) { 
    
    header {
        display: flex;
        justify-content: space-between;
    }

    .hamburgerMenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-end;
    }

    .hamburgerMenu > span {
        width: 33px;
        height: 3px;
        background-color: black;
        margin: 2px 20px 5px 0px; /*top right bottom left*/
    }

    nav {
        display: none; /*hides the nav on smartphones*/
    }

    h2 {
        margin: 10px;
    }

    .articleImage {
        display: block;
        width: 100%;
        height: auto;
        margin: 10px 0px;
    }
    
    p {
        font-size: 14px;
    }

    article {
        min-width: 320px;
        border-top: 2px solid #447294;
        margin-bottom: 15px;
    }

    .text {
        margin: 10px;
    }
    
    .date, .likes {
        font-size: 12px;
    }

}
